* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: rgba(244, 162, 97, 0.8);
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1080px;
    margin: 0 auto;
}

.no-dots-header-ul {
    list-style-type: none;
}

.no-dots-header-ul li {
    display: inline-block;
    margin-right: 16px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-bottom: 100px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text - make sure there is enough contrast with the background-color */
    z-index: 3;
}

.hero article {
    position: absolute;
    top: 350px;
    left: 10px;
    right: 10px;
    max-width: auto;
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    padding: 16px;
    z-index: 4;

}

.hero article img {
    /* the yellow boat */
    float: right;
    width: 10%;
    margin: 0 0 10px 16px;
    display: block;

}