* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-background-color: darkblue;
}

nav {
    background-color: var(--default-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: var(--default-background-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 400px;
    height: auto;
    text-align: center;
}

aside p {
    text-align: left;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 170px;
    color: black;
    transform: translateX(-50);
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    border: 1px solid red;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    color: #1a044e;
}